# Entorno virtual
venv/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.python-version

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Dependencias / build
pip-wheel-metadata/
*.egg-info/
.eggs/

# Tests / caches
.pytest_cache/
.coverage
coverage.xml

# DB local / datos temporales
data/postgres/
*.sqlite
*.db

# Logs
*.log
logs/

# Docker
docker-compose.override.yml